.u-margin {margin-bottom:25px;}
.u-margin-top {margin-top:25px;}
.u-float-right { float:right;}
.u-heading { font-size:20px;}
.u-subHeading { font-size:16px; font-weight:bold;}
.u-infoText { font-size:16px; color:#888; line-height:1.5;}
.u-align-right { text-align: right;}
.u-align-center { text-align: center; }
.u-hidden { display: none !important; }
