.noticeBox {
  background:#eff4f8;
  border:1px solid #bdd4e3;
  color:#3d89bb;
  padding:15px;
  line-height:1.5;
}

.noticeBox--yellow {
  background:#fff2ea;
  border-color:#d37537;
  color:#fc6500;
}

.noticeBox--green {
  background:#e3f0cb;
  border-color:#afc782;
  color:#8eb100;
}
